<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>me.jedda.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Pushover</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.3</string>
	<key>GrowlPluginAuthor</key>
	<string>Jedda Wignall (http://jedda.me)</string>
	<key>GrowlPluginDescription</key>
	<string>An action style for Growl 2.0 and higher that forwards Growl notifications to the Pushover notification service.</string>
	<key>GrowlPluginsFrameworkVersion</key>
	<string>1.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>This work is licensed under a Creative Commons Attribution 3.0 Unported License. Attribution to Jedda Wignall (http://jedda.me/projects/pushover-action-growl/)</string>
	<key>NSPrincipalClass</key>
	<string>GrowlPushoverAction</string>
</dict>
</plist>
